<!-- Header -->
	<div class="header">
		<!-- Navbar -->
		<nav class="navbar navbar-default">
			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a  href="index.html"><h1>游戏 <img src="__PUBLIC__/Home/images/c1.png" alt=" " /> <br>园</h1></a>
				</div>

				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">
						<li class="hover-effect"><a href="index.html">主页</a></li>
						<li class="hover-effect"><a href="news.html">关于我们</a></li>
						<li class="hover-effect">
							<a href="games.html">游戏专区</a>
							<a href="games.html">DNF</a>
							<a href="games.html">英雄联盟</a>
							<a href="games.html">剑灵</a>
							<a href="games.html">炉石传说</a>
						</li>
						<li class="hover-effect"><a href="news.html">游戏新闻</a></li>
						<li class="hover-effect"><a href="login.html">登录</a></li>
					</ul>
				</div>

			</div>
		</nav>
		<!-- //Navbar -->

		<!-- Slider -->
		<div class="slider">
			<ul class="rslides" id="slider">
				<li>
					<img src="__PUBLIC__/Home/images/banner3.jpg" alt="" />
				</li>
				<li>
					<img src="__PUBLIC__/Home/images/banner2.jpg" alt="" />
				</li>
				<li>
					<img src="__PUBLIC__/Home/images/banner1.jpg" alt="" />
				</li>
			</ul>
		</div>
		<!-- //Slider -->

	</div>
	<!-- Banner-Slider-JavaScript -->
	<script src="__PUBLIC__/Home/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider").responsiveSlides({
				auto: true,
				nav: true,
				speed: 800,
				namespace: "callbacks",
				pager: true,
			});
		});
	</script>
	<!-- //Banner-Slider-JavaScript -->
	<!-- //Header -->